<%= form_for(@present) do |f|, :remote => true %>
  <% if @present.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@present.errors.count, "error") %> prohibited this present from being saved:</h2>

      <ul>
      <% @present.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Název" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
   <%= f.label :pole, "Obsadit?" %><br />
    <%= f.check_box :pole, { }, "Obsazeno", "Volno" %>
  </div>
  <div class="actions">
    <%= f.submit "Potvrdit" %>
  </div>
<% end %>
