<div class="container marketing" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div class="row">
<h1>Seznam darů</h1>

<table class="table">
  <tr>
    <th>Název</th>
    <th>Obsazeno</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @presents.each do |present| %>
  <tr>
    <td><%= present.name %></td>
    <td class="polenahoru"><%= present.pole %></td>
    <td><%= link_to 'Shlédnout', present %></td>
    <td>



      <%= render 'present_form' %> <%= link_to 'Obsadit', edit_present_path(present), :class => "btn btn-danger" %></td>
    <td><%= link_to 'smazat', present, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br>
    <br>
<%= link_to 'Nový dar', new_present_path %>
 </div>
    </div>