<div class="container marketing">
  <div class="row">
<p id="notice"><%= notice %></p>


<h3>Dar:  <%= @present.name %></h3>
<h4>Popis:<%= @present.text %></h4>

<p>
  <b>Stav:</b>
  <% if @present.boolean %>
  Obsazeno
   <% else %>
  Volno
      <% end %>

</p>


<%= link_to 'Změnit', edit_present_path(@present) %> |
<%= link_to 'Zpět', presents_path %>
  </div>
    </div>