
<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/bootstrap-transition.js"></script>
<script src="../assets/js/bootstrap-alert.js"></script>
<script src="../assets/js/bootstrap-modal.js"></script>
<script src="../assets/js/bootstrap-dropdown.js"></script>
<script src="../assets/js/bootstrap-scrollspy.js"></script>
<script src="../assets/js/bootstrap-tab.js"></script>
<script src="../assets/js/bootstrap-tooltip.js"></script>
<script src="../assets/js/bootstrap-popover.js"></script>
<script src="../assets/js/bootstrap-button.js"></script>
<script src="../assets/js/bootstrap-collapse.js"></script>
<script src="../assets/js/bootstrap-carousel.js"></script>
<script src="../assets/js/bootstrap-typeahead.js"></script>
<script>
    !function ($) {
        $(function(){
            // carousel demo
            $('#myCarousel').carousel()
        })
    }(window.jQuery)
</script>

<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag ("slide1.JPG") %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Honza Vykydal</h1>
          <p class="lead"></p>
          <%= link_to "Více o ženichovi", zenich_path, class: "btn btn-large btn-primary" %>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag ("slide2.JPG") %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Raduška Jasanská</h1>
          <p class="lead"></p>
          <%= link_to "Více o nevěstě", nevesta_path , class: "btn btn-large btn-primary" %>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag ("slide3.JPG") %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Raduška a Honzík</h1>
          <p class="lead"></p>
          <%= link_to "Více o nás", snoubenci_path , class: "btn btn-large btn-primary" %>
        </div>
      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>

</div><!-- /.carousel -->

<div class="zavrit">

  <%= link_to home_path do %>
      <%= image_tag("close.png") %> Zavřít<% end %>

</div>



  <!-- FOOTER -->
  <footer>

      </footer>

</div><!-- /.container -->



<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/bootstrap-transition.js"></script>
<script src="../assets/js/bootstrap-alert.js"></script>
<script src="../assets/js/bootstrap-modal.js"></script>
<script src="../assets/js/bootstrap-dropdown.js"></script>
<script src="../assets/js/bootstrap-scrollspy.js"></script>
<script src="../assets/js/bootstrap-tab.js"></script>
<script src="../assets/js/bootstrap-tooltip.js"></script>
<script src="../assets/js/bootstrap-popover.js"></script>
<script src="../assets/js/bootstrap-button.js"></script>
<script src="../assets/js/bootstrap-collapse.js"></script>
<script src="../assets/js/bootstrap-carousel.js"></script>
<script src="../assets/js/bootstrap-typeahead.js"></script>
<script>
    !function ($) {
        $(function(){
            // carousel demo
            $('#myCarousel').carousel()
        })
    }(window.jQuery)
</script>
